*{
    margin: 0px ;
    padding: 0px;
}
.inputs{
    text-align: center;
    padding:0 ;
    margin: 10px auto;
}
.token.property{
    color:black;
}
.token.selector{
    color:black;
}
.token.function{
    color:black;
}